<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Learca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
   <!--<add key="DpiAwareness" value="PerMonitorV2"/>-->
</System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <userSettings>
    <Learca.Properties.Settings>
      <setting name="Path_BackgroundImage" serializeAs="String">
        <value />
      </setting>
      <setting name="ForeColor" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value />
      </setting>
      <setting name="BackColor" serializeAs="String">
        <value />
      </setting>
      <setting name="Path_DeckSet" serializeAs="String">
        <value>DeckSet.xml</value>
      </setting>
      <setting name="Path_ChosenDeckSet" serializeAs="String">
        <value>ChosenDeckSet.xml</value>
      </setting>
    </Learca.Properties.Settings>
  </userSettings>
</configuration>
